@model List<Person>

@{
    ViewData["Title"] = "Privacy Policy";
    var currentYear = DateTime.Now.Year;
    var dayOfWeek = DateTime.Now.DayOfWeek;
    var email = "test@test.com";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>It is @currentYear </p>

@if (dayOfWeek == DayOfWeek.Sunday || dayOfWeek == DayOfWeek.Saturday)
{
    <p>It's weekend</p>
}
else
{
    <p>Not yet the weekend :(</p>
}

@switch (dayOfWeek)
{
    case DayOfWeek.Monday:
        <p>It's monday</p>
        break;
    default:
        <p>It's not monday</p>
        break;
}

<p>Test</p>

<a href="mailto:@email">@email</a>
<p> FirstName | LastName </p>
@foreach(var person in Model){
    <p>@person.FirstName | @person.LastName</p>
}